:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --accent: #1a8ef4;
  --white: #f2f6fb;
  --black: #000000;
  --error: #F44040;
  --disabled: #e1e7ee;

  --border-radius: 8px;
  --box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

html, body, #root {
  margin: 0;
  height: 100%;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}