.signin {
    display: flex;
    box-shadow: var(--box-shadow);
}

.signinInner {
    flex: 1;
    padding: 3em 0;
}

.image {
    width: 50%;
    height: 100%;
    background: url('../../assets/bg.jpg') no-repeat 0 0;
    background-size: cover;
}

.signinForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    gap: 0.5rem;
}

.error {
    color: var(--error);
    font-size: 12px;
}

.formText {
    text-align: center;
    margin-bottom: 3em;
}